#formName {
    margin-top: 15px;
    margin-left: 40%;
    width: 20%;
    padding: 5px 10px;
    border-radius: 8px;
}

.box {
    position: relative;
    left: 30%;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 65vh;
    padding: 20px;
    width: 30%;
    border: 2px solid #b3b1b1;
    overflow: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.draging,
.draggable-field {
    cursor: grab;
    margin-bottom: 20px;
}

.dragg {
    cursor: grab;
    margin-bottom: 0px;
}

.createform {
    position: absolute;
    top: 100%;
    left: 51.5%;
    border-radius: 10px;
    width: 12vw;
    padding: 10px 0;
    font-size: 20px;
    border: none;
    color: #fff;
    background-color: #007bff;
}

.form-field {
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    grid-column: span 1;
    height: 100px;
}

.form-field label {
    font-weight: bold;
    margin-bottom: 5px;
}

.form-field input,
.form-field textarea,
.form-field select {
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    width: 100%;
}

.toggle-width-btn {
    align-self: flex-end;
    margin-top: -80px;
    padding: 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.footer{
    position: absolute;
    width: 100%;
    color:black; 
    background-color: rgba(0, 0, 0, 0.2);
    padding: 13px;
    margin-top: 27%;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: large;
}

@media only screen and (min-width: 1000px) {
    .toggle {
        display: none;
    }
}