.box{
    position: relative;
    left: 30%;
    margin-top: 50px;
    height: 60vh;
    padding: 20px;
    width: 30%;
    border: 2px dotted #b3b1b1;
    overflow: auto; 
}
.draging, .draggable-field {
    cursor: grab;
    margin-bottom: 20px;
}

.createform{
    position: absolute;
    top: 80%;
    left: 62%;
    border: none;
    color: azure;
    background-color: black;
}
